#szoveg1 {
    background-color: cornsilk;
    width: 78%;
    margin: auto;
    text-align: justify;
    padding: 10px 5mm 10px 5mm;
    text-indent: 7mm;
    border-right: brown;
    border-right-style: double;
    border-right-width: 10px;
    margin-bottom: 10mm;
}

#szoveg2 {
    background-color: cornsilk;
    width: 76%;
    margin: auto;
    text-align: justify;
    padding: 10px 10.4mm;
    text-indent: 19mm;
    border-left: dashed purple ;
    border-left-width: 4px;
    border-bottom: dashed blue 2mm;
}

#szoveg3 {
    background-color: cornsilk;
}

#szoveg4 {
    background-color: cornsilk;
}

#szoveg5 {
    background-color: cornsilk;
}

#table {
    border: 6px dotted rgb(214, 171, 61);
    margin: auto;
    width: 78%;
    padding: 10px 5mm 10px 5mm;
}